<select class="form-control alphabet" required="required" name="school_class_group[alphabet]"
        id="school_class_group_alphabet">
    {% for c in classGroups %}
        <option value="{{ c.id }}">{{ c.alphabet }}</option>
    {% endfor %}
</select>

