{{ form_start(classForm) }}
{{ form_row(classForm.grade) }}
{{ form_row(classForm.alphabet) }}
<div class="form-group">
    <label>
        <input type="radio" name="type" value="report" checked>Отчет
    </label>
    <label>
        <input type="radio" name="type" value="list">Список учащихся
    </label>
</div>
<div class="form-group">
    <input type="button" class="form-control btn btn-success btn-report" value="Получить отчет">
</div>

{{ form_end(classForm) }}