{% extends '::base.html.twig' %}
{% block content %}

    <div class="jumbotron">
        <a href="{{ path('shool_classgroup_upgrade') }}">
            <button type="button" class="btn btn-danger">Новый учебный год</button>
        </a>
        <a href="{{ path('report_history_add') }}">
            <button type="button" class="btn btn-warning">Добавить в архив</button>
        </a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="gender-canvas" height="250" width="250"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="class-canvas" height="250" width="250"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Девочки
            <div id="girls" class="square"></div>
            Мальчики
            <div id="boys" class="square"></div>
        </div>
        <div class="col-md-6" id="class-pie">

        </div>
    </div>
    <script>
        $.ajax({
            url: 'http://monitor.cloudcontrolled.com/student/gender/pie',
            success: function (data) {
                var pieData = [
                    {
                        value: data.malchiki,
                        color: "#F38630"
                    },
                    {
                        value: data.devochki,
                        color: "#E0E4CC"
                    }

                ];
                var myPie = new Chart(document.getElementById("gender-canvas").getContext("2d")).Pie(pieData);

            }
        });

        $.ajax({
            url: 'http://monitor.cloudcontrolled.com/student/class/pie',
            success: function (data) {
                var classPie = new Chart(document.getElementById("class-canvas").getContext("2d")).Pie(data[0]);
                $('#class-pie').html(data[1]);
            }
        });
    </script>

{% endblock %}